:root {
  --theme-background-color: #f6f6f6;
}

body {
  background: var(--theme-background-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px 0;
}

.item-table {
  max-width: 1500px;
  margin: 0 auto;
  border-collapse: collapse; 
}

.item-table td {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: contain;
  height: 350px;
}

.item-table img {
  margin-top: 5%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h3 {
  margin: 10px 0;
}

.item-price {
  font-weight: bold;
  color: #333;
}

.add-to-bag-btn {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.add-to-bag-btn:hover {
  background-color: #0079a1;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.shopping-bag {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  color: #fff;
}

.shopping-bag svg {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
